.container {
  display: flex;
  justify-content: center;
  align-content: center;
  color: white;
}

.Jasmine {
  position: absolute;
  z-index: 3;
  top: 90%;
  color: black;
}

.LizzoQuotes {
  position: absolute;
  z-index: 2;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 1rem;
  width: 20rem;
}  

.background {
  position: relative;
  height:100vh;
  z-index: 1;
  background-position: top;
  position: relative;
}

.button {
  border-radius: 10rem;
  border-color: #c669a3;
  border-width: 2px;
  background-color:  #e06ab4;
  width: 8rem;
  height: 2rem;
  justify-items: center;
  font-weight: 600;
  font-size: 14px;
  color: white;
}

.title {
  font-family: 'Rock Salt', cursive;
  font-size: 1.5rem;
  margin-block-start: 0em;
}

.author {
  font-family: 'Rock Salt', cursive;
  font-size: 1rem;
}

.quote {
  font-weight: 600;
  font-size: 14px;
}